.row{
    justify-content: center;
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.imagenTrayectoria{
    width: 100%;
    height: 250px;
}

.cardGaleria{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid;
}